* {
	margin: 0;
	padding: 0;
}
body {
	background:#000000 fixed;
}
/* == ESTRUCTURA == */
header {
	width: 98%;
	height: auto;
	margin: 0 auto;
	padding: 0 1% 0 1%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}
header img { 
	margin: 7px 30px 0px 30px;
	width: 130px;
}
main {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
}
footer {
	width: 98%;
	height: auto;
	margin: 0 auto;
	padding: 1%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}
section {
	width: 96%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: linear-gradient(#002148, #004394, #002148);
	padding: 4% 2%;
}
section h2 {
	margin-bottom: 20px;
	text-align: center;
}
section h3 {
	text-align: center;
	margin: 12px 0;
	font-size: 1.2rem;
	line-height: 1.8rem;
}
section p {
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.3rem;
}
/* ==  MENU SUPERIOR == */
	/* Add a black background color to the top navigation */
	.topnav {
		overflow: hidden;
		margin: 0 30px;
	}
	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #004DA8;
		font-family: Fuente02;
		font-weight: 700;
		text-align: center;
		padding: 14px 26px;
		text-decoration: none;
		font-size: 0.9rem;
	}
	/* Change the color of links on hover */
	.topnav a:hover {
		color: #ff0000;
	}
	/* Add an active class to highlight the current page */
	.topnav a.active {
		background-color: #04AA6D;
		color: white;
	}
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	@media screen and (max-width: 768px) {
		.topnav {
			width: 100%;
			background-color: #ffffff;
		}
		.topnav a:not(:first-child) {
	  		display: none;
		}
		.topnav a.icon {
	    	float: right;
	    	display: block;
	  	}
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	@media screen and (max-width: 768px) {
		.topnav.responsive {
	  		position: relative;
	  	}
	  	.topnav.responsive a.icon {
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	  	}
	  	.topnav.responsive a {
	    	float: none;
	    	display: block;
	    	text-align: left;
	  	}
	}
/* == FIN DE MENU SUPERIOR == */
/* == SLIDE == */
#intro {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(images/fondo.png) no-repeat left center;
	padding: 4% 8%;
	min-height: 550px;
	width: 84%;
}
#intro h1 {
	padding-bottom: 1%;
	width: 50%;
	color: #f3f3f3;
}
#intro p {
	text-align: left;
	width: 50%;
	color: #ffffff;
	font-family: Fuente04;
	font-size: 1.3rem;
}
/* == BOTONES == */
a.boton {
	color: #fff;
	background: #004DA8;
	font-family: Fuente02;
	font-weight: 700;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	margin: 40px 0;
	padding: 10px 26px;
}
a.boton:hover {
	color: #f9f9f9;
	background: #ff0000;
}
/* == CONTENEDORES FLEX == */
.container-01, .container-02{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;	
}
.container-03{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.container-01 div {
	width: 26%;
	margin: 2%;
	padding: 1%;
	width: 282px;
}
.container-02 div {
	width: 40%;
	margin: 1%;
	padding: 1%;
}
.container-03 div {
	width: 50%;
	margin: 0;
	padding: 3% 6% 3% 6%;
	height: 120px;
	width: 120px;
}
/* == TIPOGRAFÃAS == */
:root {
	font-size: 20px; /* MEDIDA BASE: 20px = 1rem */
}
@font-face {
	font-family: Fuente01;
	src: url(fonts/BlackHanSans-Regular.ttf);
}
@font-face {
	font-family: Fuente02;
	src: url(fonts/Oswald.ttf);
}
@font-face {
	font-family: Fuente03;
	src: url(fonts/SedgwickAveDisplay-Regular.ttf);
}
@font-face {
	font-family: Fuente04;
	src: url(fonts/Graduate-Regular.ttf);
}
@font-face {
	font-family: Fuente05;
	src: url(fonts/AllertaStencil-Regular.ttf);
}
h1 {
	color: rgb(0, 36, 16);
	font-family: Fuente03;
	font-size: 4rem;
	line-height: 4.5rem;
}
h2 {
	color: rgb(239, 239, 239);
	font-family: Fuente03;
	font-weight: 900;
	font-size: 2.4rem;
	line-height: 3.6rem;
}
h3 {
	color: rgb(255, 255, 255);
	font-family: Fuente01;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.2rem;
}
p {
	color: rgb(255, 255, 255);
	font-family: Fuente05;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6rem;
}
.p-footer {
	color: #004DA8;
	font-size: 0.8rem;
	line-height: 1.2rem;
	font-weight: bold;
}
/* == IMAGENES == */
.container-01 > div img, .container-02 > div img, .container-03 > div img {
	width: 100%;
}
/* == MEDIA QUERIES TABLET == */
@media screen and (max-width:768px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		padding: 3% 0;
	}
	header {
		flex-direction: column;
		padding: 0;
		position: static;
	}
	header img {
		padding: 20px 0;
	}
	#intro {
		align-items: center;
		background: url(images/fondo.png) no-repeat bottom center;
		padding-top: 200px;
	}
	#intro h1 {
		text-align: center;
		width: 100%;
	}
	#intro p {
		text-align: center;
		width: 80%;
	}
	.container-01 div, .container-02 div {
		width: 40%;
		border: none;
	}
	.container-03 div {
	width: 50%;
	margin: 1%;
	padding: 6%;
	height: 120px;
	width: 120px;
	}
}
/* == MEDIA QUERIES MOVILES == */
@media screen and (max-width:428px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		width: 90%;
		padding: 5%;
		text-align: center;
	}
	header {
		flex-direction: column;
		padding: 0;
		position: static;
	}
	header img {
		padding: 20px 0;
	}
	.container-01, .container-02  {
		flex-direction: column;
		align-items: center;
	}
	.container-03 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.container-01 div, .container-02 div {
		width: 90%;
		border: none;
	}
	.container-03 div {
		width: 50%;
		margin: 1%;
		height: 120px;
		width: 120px;
	}
	h1 {
		font-size: 2.2rem;
		text-align: center;
	}
	h2 {
		padding: 3% 0;
		text-align: center;
	}

}